.discussions-header {
    font-size: 20px;
    margin-top: 40px;
    color:white;
    display: flex;
    justify-content: center;
  }

  .discussion-everything{
    display: flex;
    justify-content: center;
  }

 

  .discussion-container{
    background-color: white;
    width: 1100px;
    height: 500px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
  }

  .discussion-conversations-container{
    background-color: #0842B5;
    opacity: .6;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 25%;
    display: flex;
  }

  .discussion-conversations{
    margin-top: 20px;
    width: 100%;
  }

  .discussion-convobuttonadd{
    width: 100%;
    height: 60px;
    border:none;
    background-color: #0842B5;
    color:white;
    transition: .3s;
}

  .discussion-convobutton{
      width: 100%;
      height: 60px;
      border:none;
      background-color: #0842B5;
      color:white;
      transition: .3s;
  }

  .discussion-convobutton:hover{
    background-color: #0E57E8;
  }

  .discussion-convobuttonadd:hover{
    background-color: #0E57E8;
  }

  .discussion-messages-container{
    width: 100%;
    height: 100%;
  }

.discussion-messages{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.discussion-text{
  margin-left: 50%;
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;
}

.discussion-bubble{
  background-color: #1982FC;
  width: 90%;
  min-height: 50px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 5px;
}

.discussion-sender{
  margin-left: 75%;
}

.discussion-messagecontent{
  margin-left: 10px;
}

.discussion-bubble-other{
  background-color: 	#aeb9cc;
  margin-left: 10px;
  width: 90%;
  min-height: 50px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 5px;
}

.discussion-text-other{
  margin-right: 50%;
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;
}

.discussion-sender-other{
  margin-left: 5%;
}

.discussion-sendbox{
  background-color:#aeb9cc;
  height: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.discussion-input{
    margin-top: 5px;
    width: 75%;
}

.discussion-send-button{
  border: none;
  width:5%;
  height: 90%;
  border-radius: 50%;
  background-color: white;
  margin-top: 2px;
  margin-left: 1%;
  color: #aeb9cc;
  transition: .5s;
}

.discussion-send-button:hover{
  background-color: #0E57E8;
  color: white;
}