.courseDocumentsPage{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.oneDocBubble{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #d6eaff;
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .docTitle{
      font-size: 40px;
  }

  .docBubbles{
      margin-top: 40px;
      display: flex;
      flex-flow: wrap;
      width: 1500px;
      margin-left: 80px;
  }

  .header{
      color: white;
  }

  .Loading{
      color: white;
      justify-content: center;
      align-items: center;
      margin-left: 800px;
  }

    /* MOBILE */
    @media(max-width:425px){
        .oneDocBubble{
            width: 300px;
        }
        .docBubbles{
            margin-right: 90px;
        }
        
      }