.grades-header {
  font-size: 20px;
  margin-top: 40px;
  color:white;
  display: flex;
  justify-content: center;
}
.gradebuttons {
  width:170px;
  height:50px;
  border-radius: 20px;
  border: none;
  background-color: #7492ed;
  color:white;
  font-size: 20px;
}
.gradestext{
  color:white;
  font-size: 20px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.gradestable{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.gradesinput{
  width:600px;
  height:200px;
  color:grey;
  font-size: 20px;
  font-weight: lighter;
  display: flex;
  text-align: inherit;
  justify-content: center;
  flex-flow: wrap;
}

/*.grades-header {
    font-size: 20px;
    margin-top: 40px;
    color:white;
    display: flex;
    justify-content: center;
  }*/