.notifications-header {
  font-size: 20px;
  margin-top: 40px;
  color:white;
  display: flex;
  justify-content: center;
}

.announcements-header{
font-size: 20px;
margin-top: 40px;
color:white;
display: flex;
justify-content: center;

}

.deadline-header{
font-size: 20px;
color:white;
display: flex;
justify-content: center;
}


.news{
font-size: 11px;
  height: 700px;
  width:  1300px;
  background: white;
 border-radius: 10px;
 font-family: "Poppins", sans-serif;
 box-shadow: 10px 5px 40px black;
 display: flex;
 flex-wrap:  wrap;
 flex-direction: column;
margin: 2in;
position: relative;
align-content: center;
 
}


.homework{
font-size: 11px;
height: 700px;
width:  1300px;
background: white;
border-radius: 10px;
font-family: "Poppins", sans-serif;
box-shadow: 10px 5px 40px black;
display: flex;
flex-wrap:  wrap;
flex-direction: column;
margin: 2in;
position: relative;
align-content: center;
}

.link_assign_button{
font-size: 2.0rem;
color: rgb(53, 0, 139);
width: 100%;
margin: auto;
justify-content: center;
align-items: center;
background: none;
border: none;
}
.deadline-text{
color: red;
}

.email-button{
width: 50px;
  height: 50px;
  border-radius: 20%;
  margin: 20px;
  background: white;
  color: rgb(117, 147, 243);
  font-family: "Poppins", sans-serif;
  border: none;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.deadlineBoxTitle{
  font-size: 25px;
  color: #4979d1; 
}

.deadlineBubble{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  align-items: center;
  flex-direction: wrap;
  width: 500px;
  height:fit-content;
  margin-left: 900px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #d6eaff;
  box-shadow: 20px 30px 70px black;
}

.contact-form{
  width: 10px;
  height: 10px;
  justify-content: center;
  display: flex;

  border-radius: 20px;

}

.Noti_header{
  font-size: 12px;
margin-top: 40px;
color:white;
display: flex;
justify-content: center;
}

.Modal_button_open{
  font-size: 60px;
  height: fit-content;
  border: none;
  border-radius: 20px;
  background: white;
  color:#7492ed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: wrap;
  margin-left: 1000px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.Modal_button_close{
  font-size: 20px;
  height: fit-content;
  width: 70px;
  border: none;
  border-radius: 20px;
  background: rgb(67, 116, 250);
  color:#e5e8f1;
  display: flex;
  justify-content: center;
margin-top: 40px;
}

